= simple_form_for(@track, wrapper: :vertical_form) do |f|
  = f.input :date
  = f.input :track, label: "What steps of track did you do?", input_html: { class: "form-control" }
  = f.input :condition, label: "What was your condition?", input_html: { class: "form-control" }
  = f.input :length, label: "How long do you need to get our track", input_html: { class: "form-control" }
  %br/
  = f.button :submit, label: "Submit"
